


/** How To Create A Simple Dynamic Calendar Table With PHP | Tutorial.World.Edu **/
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome|zocial);
/* entypo */
[class*="Comfortaa-"]:before {
  font-family: 'Comfortaa';
}
/* fontawesome */
[class*="Comfortaa-"]:before {
  font-family: 'Comfortaa';
}
/* zocial */
[class*="Comfortaa-"]:before {
  font-family: 'Comfortaa';
}
/************************************* END FONTS *************************************/
/** MAIN CONTAINER **/
.icon-bar {
  position: fixed;
  left:1%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 12px;
  font-family:'Comfortaa';
  text-decoration: none;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color:  #f76a8f;
}
.homepage {
  background:  #ffafaf;
}

.calendar {
  background:  #ffafaf;
}

.health {
  background:  #ffafaf;
}

.nutrition {
  background:  #ffafaf;
}

.plant {
  background: #ffafaf;
}
  .myModal {
      display: none; /* Hidden by default */
      position: absolute; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 50%; /* Full width */
      height: 50%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: white; /* Fallback color */
      background-color: white; /* Black w/ opacity */
  }

.myModal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

  .main-container {
	font-family: 'Ubuntu', sans-serif;
	width: 1200px;
	height: 1000px;
	margin: 20em auto;
}
 .container2 {
   display: flex;
 }
	/** CONTAINERS **/
	.container {
		float: left;
		width: 1200px;
    height: 10px;
	}

		.block {
			margin-bottom: 180px;
			background: #ff7f7f;
			border-radius: 100;
		}
    .right-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	background-color: #ffafaf;;
  font-family: "Comfortaa"
}

h1 {
	font-size: 60px;
  color: white;
  font-family: "Comfortaa"
}

h2 {
	font-size: 70px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: "Comfortaa"
}

p {
	font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

a {
	text-decoration: none;
	font-size: 15px;
  margin-left: auto;
  margin-right: auto;
}
	a:hover {
		text-decoration: underline;
    margin-left: auto;
    margin-right: auto;
	}
th, td{
  padding: 75px;
  background-color: lightpink;
  margin-left: auto;
 }
.icon {
	font-size: 25px;
 }

 .titular {
	display: block;
	line-height: 60px;
	margin: 0;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
  margin-left: auto;
  background-color:
}

.arrow-btn-container {
  .arrow-btn{
	 position: absolute;
		display: block;
		width: 200px;
		height: 100px;
		-webkit-transition: background .3s;
		transition: background .3s;
	}

		 .arrow-btn:hover {
			text-decoration: none;
		}

		.arrow-btn.left {
			border-top-left-radius: 5px;
		}

		.arrow-btn.right {
			border-top-right-radius: 5px;
			right: 0;
			top: 0;
		}

		.arrow-btn .icon {
			display: block;
			font-size: 18px;
			border: 2px solid #ffafaf;
			border-radius: 100%;
			line-height: 17px;
			width: 21px;
			margin: 20px auto;
			text-align: center;
		}
			.arrow-btn.left .icon {
				padding-right: 2px;
			}


			 .calendar-day {
				height: 320px;
				background: hotpink;
			}
				.calendar-day .titular {
					background: black;
				}
					.calendar-day .arrow-btn:hover {
						background-color: white;
					}
				.calendar-day .the-day {
					margin: 5;
					text-align: center;
					font-size: 500px;
          font-family: "Comfortaa"
				}
				.add-event.button {
					background-color: pink;
				}
					.add-event.button:hover {
						background-color: white;
					}
			.calendar-month {
				height: 1300px;
         margin: auto;
			}
				 .calendar-month .titular {
					background-color: hotpink;
				}
					.calendar-month .arrow-btn:hover {
						background-color: white;
					}
				.calendar {
					margin: 22px 15px;
					text-align: center;
				}
					.calendar a {
						font-size: 30px;
            font-family: "Comfortaa"
					}
					.calendar td, .calendar th {
						width: 100px;
						height: 80px;
					}
					.calendar .days-week {
						color: white;
					}
					.calendar .today {
						display: block;
						width: 34px;
						line-height: 50px;
						background-color: white;
						border-radius: 100%;
					}
