h1{
  text-align:center;
  position:relative;
  position: absolute;
  left: 0;
  top: -5%;
  width: 100%;
  font-size: 100px;
  font-family:'Comfortaa';
  color: white;
}
h5{
  font-size: 65px;
  font-family:'Comfortaa';
  color: white;
  font-weight: bold;
}
h2{
  text-align:center;
  /* position:relative;
  position: absolute;
  left: 0;
  top: -5%; */
  width: 100%;
  font-size: 20px;
  font-family:'Comfortaa';
  color: white;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.text{
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  color: white;
  font-family:'Comfortaa';
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-weight: bold;

}
h3{
  text-align:center;
  /* position:relative;
  position: absolute;
  left: 0;
  top: -5%; */
  width: 100%;
  font-size: 40px;
  font-weight: bold;
  font-family:'Comfortaa';
  color: white;
}
/* .column {
    float: left;
    width: 33.33%;
    padding: 5px;
} */
body{
  background-color: #f76a8f;
}

* {box-sizing: border-box}

.slideshowcontainer a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 13px;
  font-family:'Comfortaa';
  text-decoration: none;
}
.slideshowcontainer {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.prev:hover, .next:hover {
  /* background-color: #f1f1f1;
  color: black; */
  background-color: rgba(0,0,0,0.8);

}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  /* user-select: none; */
}
img {vertical-align: middle;}
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 13px;
  font-family:'Comfortaa';
  text-decoration: none;
}

.nutrition a {
  /* display: flex; */
  text-align: center;
  padding: 16px;
  color: white;
  font-size: 25px;
  font-weight: bold;
  font-family:'Comfortaa';
  text-decoration: none;

}
.nutrition p {
  /* display: flex; */
  text-align: center;
  padding: 16px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family:'Comfortaa';
  text-decoration: none;

}
/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.homepage {
  background: #f76a8f;
  display:block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
}
.breakfast {
  background: #f76a8f;
  width: 60px;
}
.lunch {
  background: #f76a8f;
  width: 60px;
}
.snack {
  background: #f76a8f;
  width: 60px;
}
.dinner {
  background: #f76a8f;
  width: 60px;
}
.slide {
  /* background: #f76a8f;
  width: 80px; */
  display: none;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
