#header_font {
  font-family: 'Philosopher', sans-serif;
  color:white;
  font-size:54px;
}
#paragraph_font {
  font-family: 'Philosopher', sans-serif;
  color:white;
  font-size:17px;
}
#default_font {
  font-family: 'Philosopher', sans-serif;
  color:white;
  font-size:14px;
}
#border {
  border:6px;
  border-style:solid;
  border-color:#ffffff;
  padding: 1em;

}
