body{
  background-color: #f76a8f;
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  font-family:'Comfortaa';
  text-decoration: none;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.homepage {
  background: #f76a8f;
}

.calendar {
  background: #f76a8f;
}

.health {
  background: #f76a8f;
}

.nutrition {
  background: #f76a8f;
}

.plant {
  background: #f76a8f;
}

h1{
  text-align:center;
  position:relative;
  position: absolute;
  left: 0;
  top: 10%;
  width: 100%;
  font-size: 120px;
  text-shadow: 2px 2px 4px #000000;
  font-family:'Comfortaa';
  color: white;
