h1 {
  margin: 0;
  font-family:'Comfortaa';
  font-weight: bold;
  text-align: center;
  font-size:50;
}
h2 {
  margin: 0;
  font-family:'Comfortaa';
  text-align: center;
  font-weight: bold;
  font-size:130;
}
h3 {
  margin: 0;
  font-family:'Comfortaa';
  font-size:20;
}
#myimage{
  width: 50px;

}
#websiteicon{
  width: 70px;
}

body{
  background-color: #f76a8f;
  color: white;
}
#demo {
  text-align: center;
  }
