h1 {
  margin: 0;
  font-family:'Comfortaa';
  font-weight: bold;
  text-align: center;
  font-size:50;
}
h2 {
  margin: 0;
  font-family:'Comfortaa';
  text-align: center;
  font-weight: bold;
  font-size:130;
}
h3 {
  font-family:'Comfortaa';
  color: white;
  font-size: 15px;
  font-weight: bold
}
#myimage{
  width: 50px;

}
#websiteicon{
  width: 50px;

}

body{
  background-color: #ffafaf;
  color: white;
}
#demo {
  text-align: center;
  }
  .icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 12px;
    font-family:'Comfortaa';
    text-decoration: none;
  }

  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #000;
  }

  .homepage {
    background: #ffafaf;
  }
